CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
API_URL=https://apx.dev.didit.me/auth/
SCOPE=openid
CLAIMS=read:name write:name read:family_name write:family_name read:gender write:gender read:email write:email read:phone write:phone read:country write:country read:picture write:picture